@media (max-width: 992px) {
  .conteudo-hero h1 {
    font-size: 2.2rem;
  }

  .lista-servicos {
    gap: 60px;
  }
  .servico-bloco {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .menu-navegacao {
    display: none;
  }

  .container-hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 40px;
  }

  .conteudo-hero p {
    margin: 0 auto 30px auto;
  }

  .botoes-hero {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .placeholder-carro {
    height: 280px;
  }

  .cards-diferenciais {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .servico-bloco,
  .servico-bloco.bloco-invertido {
    flex-direction: column;
    text-align: center;
  }

  .servico-caracteristicas {
    align-items: center;
  }

  .placeholder-servico-img {
    height: 260px;
  }

  .grade-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }

  .galeria-item.item-grande,
  .galeria-item.item-largo {
    grid-row: span 1;
    grid-column: span 1;
  }

  .container-contato {
    flex-direction: column;
    text-align: center;
  }

  .dado-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .placeholder-mapa {
    height: 300px;
  }

  .container-rodape {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .links-rodape {
    justify-content: center;
  }
}
